<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>홈</title>
</head>
<body class="h-screen">
<div class="flex justify-center h-full items-center">
    <form method="post" action="/members" class="relative flex flex-col h-[50%] items-center justify-center px-24 border-2 border-gray-300 rounded">
        <h4 class="absolute top-[10%] text-center">로그인</h4>

        <input name="memberId" class="mb-3 w-64 text-sm border  rounded p-2" placeholder="ID를 입력하세요.">
        <input name="password" class="border w-64 text-sm rounded p-2" placeholder="비밀번호를 입력하세요.">

        <button type="submit" class="mt-5  rounded text-sm p-2 text-white bg-blue-500">Log in</button>

        <a class="absolute text-blue-500 underline top-[85%] hover:text-blue-300" href="/members/new">회원가입</a>
    </form>
</div>
</body>
</html>