<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>회원가입</title>
</head>
<body class="h-screen">
<div class="flex justify-center h-full items-center">
    <form method="post" action="/members/new" class="relative flex flex-col h-[50%] items-center justify-center px-24 border-2 border-gray-300 rounded">
        <h4 class="absolute top-[10%] text-center">회원가입</h4>
        <input name="memberId" class="mb-3 w-64 text-sm border  rounded p-2" placeholder="ID를 입력하세요.">
        <input name="password" class="w-64 border text-sm rounded p-2" placeholder="비밀번호를 입력하세요.">
<!--        <input class="border w-64 text-sm rounded p-2" placeholder="비밀번호를 한번 더 입력하세요.">-->
        <button class="absolute top-[85%] bg-green-500 text-sm text-white px-4 py-2 rounded" type="submit">Sign up</button>
    </form>
</div>
</body>
</html>